# Python
__pycache__/
*.py[cod]

# Virtual env
.venv/
venv/

# Env files
.env
*.env

# caches
.pytest_cache/
.mypy_cache/

# editor
.vscode/
.idea/

# OS
.DS_Store

# uv
.venv/
uv.lock
pyproject.toml

# Program
main.py